.flexm img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin: 0px;
    padding: 0px;
    border: 5px solid white;
    position: relative;
    margin-top: 36px;
}
.col-md-6.headv {
    margin-top: 40px;
}
.col-md-6.headm {
    padding-left: 215px;
    margin-top: 40px;
}
.col-md-4.headq {
    color: white;
    padding: 20px;
}
.col-md-4.headr {
    color: white;
    padding: 20px;
}
.col-md-4.headu {
    color: white;
    padding: 20px;
	font-style:italic;
}
.image10 {
    background-color: #006094;
    width: 100%;
}
input.button10 {
    background-color: #006094;
    border: none;
    text-align: center;
    color: white;
    padding: 10px 23px;
    display: block;
    font-size: 20px;
    font-weight: bold;
    width: 336px;
    margin-left: 401px;
}
.flexn img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    position: relative;
    top: 57px;
    border: 5px solid white;
    margin: 0;
    padding: 0;
}
button, input, optgroup, select, textarea {
    margin: 0px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 90%;
    padding: 3px;
    border: none;
}
.headn h1 {
    text-align: center;
    color: #004165;
    font-size: 30px;
    font-weight: bolder;
    padding-top: 66px;
}
.col-md-6.headc span {
    font-style:italic;
	font-weight:300;
}
.col-md-6.headc {
    color: #772432;
    font-weight: bolder;
    font-size: 17px;
    text-align: center;
    padding-left: 42px;
    margin-top: 30px;
}
.image9{
    background-image: url("https://img.freepik.com/free-photo/clear-empty-photographer-studio-background-abstract-background-texture-beauty-dark-light-clear-blue-cold-gray-snowy-white-gradient-flat-wall-floor-empty-spacious-room-winter-interior_1258-53070.jpg?size=338&ext=jpg&ga=GA1.2.1893219413.1659078877");
    width: 100%;
    height: 360px;
    background-repeat: no-repeat;
    background-size: 100%;
	}
.part81 span {
    color: #006094;
    font-size: 18px;
}
input.button9 {
    background-color: #004165;
    border: none;
    text-align: center;
    color: white;
    padding: 10px 0px;
    display: block;
    font-size: 15px;
    font-weight: bold;
    width: 280px;
}
.part80 p4 {
    margin: 20px;
    font-size: 18px;
}
.part81 {
    color: black;
    margin: 20px;
}
.part80 {
    color: #006094;
    width: 23%;
    margin: auto;
}
.indexa h1 {
    color: #004165;
    text-align: center;
    margin: 20px;
    font-weight: bolder;
    font-size: 20px;
}
.image7 p3 {
    margin: auto;
    padding-left: 20px;
    display: block;
}
.image7 h4 {
    padding: 20px;
    font-weight: bolder;
    margin-top: 40px;
}
input.button8 {
    background-color: antiquewhite;
    padding: 10px 19px;
    font-size: 18px;
    color: #772432;
    font-weight: bolder;
    display: block;
    border: none;
    text-align: center;
    width: 50%;
}
.image7 {
    background-color: #772432;
    color: white;
}
input.button7 {
    background-color: #006094;
    color: white;
    font-weight: bolder;
    border: none;
    font-size: 14px;
    width: 41%;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-family: arial;
}
.headd {
    margin-top: -264px;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}
.flexx img {
    border-radius: 0;
    width: 500px;
    height: 500px;
}
.flexx {
    text-align: center;
}
.headb p7 span {
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
}
.col-md-6.headb {
    color: #772432;
    font-weight: bolder;
    font-size: 20px;
}
.col-md-6.flexm {
    text-align: center;
    border-radius: 50%;
}
input.button5 {
    background-color: #004165;
    color: white;
    font-weight: bolder;
    border: none;
    text-align: center;
    display: block;
    padding: 9px 20px;
    margin: 20px;
}
input.button6 {
    background-color: #772432;
    color: white;
    font-weight: bolder;
    border: none;
    text-align: center;
    display: block;
    padding: 9px 20px;
}
.part27 {
    padding-left: 20px;
}
.part27 p5 {
    font-family: arial;
    font-size: 13px;
}
.part26 p4 {
    color: #772432;
    font-size: 18px;
    font-family: arial;
}
.part25 {
    padding-left: 20px;
}
.part25 p5 {
    font-family: arial;
    font-size: 13px;
}
.part24 p4 {
    color: #772432;
    font-size: 18px;
    font-family: arial;
}
.part23 {
    padding-left: 20px;
}
.part23 p5 {
    font-family: arial;
    font-size: 13px;
}
.part22 p4 {
    color: #772432;
    font-size: 18px;
    font-family: arial;
}
.part21 {
    padding-left: 20px;
}
.part21 p5 {
    font-family: arial;
    font-size: 13px;
}
.part20 p4 span {
    font-style: italic;
}
.part20 p4 {
    color: #772432;
    font-size: 18px;
    font-family: arial;
}
.part19 p5 {
    font-family: arial;
    font-size: 13px;
}
.part18 p4 span {
    font-style: italic;
}
.part18 p4 {
    color: #772432;
    font-size: 18px;
    font-family: arial;
}
.head7 h1 {
    color: #772432;
    text-align: center;
    font-size: 23px;
    font-weight: bolder;
}
.part17 p3 {
    font-family: arial;
    font-size: 13px;
	font-weight:bold;
	}
	.part16 {
    padding-left: 20px;
}
.part16 p5 {
    font-family: arial;
    font-size: 13px;
}
.part15 p3 {
    font-family: arial;
    font-size: 13px;
	font-weight:bold;
	}
.part14 p5 {
    font-family: arial;
    font-size: 13px;
}
.part13 p3 {
    font-family: arial;
    font-size: 13px;
	font-weight:bold;
	}
.part12 p4 {
    color: #006094;
    font-size: 18px;
    font-family: arial;
	}
.part11 p5 {
    font-family: arial;
    font-size: 13px;
}
.part10 p4 {
    color:#006094;
    font-size: 18px;
    font-family: arial;
}
.part9 p5 {
    font-family: arial;
    font-size: 13px;
}
.part8 p4 {
    color: #006094;
    font-size: 18px;
    font-family: arial;
}
.part7 p5 {
    font-family: arial;
    font-size: 13px;
}
.part6 p4 {
    color: #006094;
    font-size: 18px;
    font-family: arial;
}
.part5 p5 span {
    font-weight: bolder;
}
.part5 p5 {
    font-family: arial;
    font-size: 13px;
}
.part4 p4 {
    color: #006094;
    font-size: 18px;
    font-family: arial;
}
.head6 h1 {
    color: #006094;
    text-align: center;
    font-size: 23px;
    font-weight: bolder;
    padding: 10px;
    margin: 10px;
}
.image5 {
    background-image: url("https://img.freepik.com/free-photo/clear-empty-photographer-studio-background-abstract-background-texture-beauty-dark-light-clear-blue-cold-gray-snowy-white-gradient-flat-wall-floor-empty-spacious-room-winter-interior_1258-53070.jpg?size=338&ext=jpg&ga=GA1.2.1893219413.1659078877");
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100% ;
	}
h5 {
    color: #772432;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
    font-size: 17px;
}
.image4 {
    background-color: white;
    width: 100%;
    background-size: 100%;
	overflow:hidden;
}
input.button4 {
    color: #006094;
    font-weight: bold;
    text-align: center;
    margin: 3px;
    padding: 3px;
    background-color: #A9B2B1;
    border: none;
    font-size: 20px;
    width: 50%;
}
.col-md-6 {
    flex: 0 0 auto;
    padding: 0;
}
.col-md-6.head1 {
    background-color: #006094;
    color: white;
    margin: auto;
    padding: 20px;
    height: 507px;
}
.flex img {
    border-radius: 0%;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0px;
}

.heads p3 {
    font-size: 12px;
    display: block;
	margin: 10px;
}

.heads h5 span {
    color: black;
    font-size: 10px;
    font-style: italic;
}
.heads h5 {
    font-size: 10px;
    color: #772432;
    margin: 10px;
}
.head p2 {
    font-size: 12px;
    display: block;
}
input.button3 {
    background-color: #772432;
    color: white;
    font-weight: bolder;
    border: none;
    text-align: center;
    display: block;
    padding: 9px 20px;
    width: 50%;
}
.head h4 span {
    color: black;
    font-size: 10px;
    font-style: italic;
}
.head h4 {
    color: #772432;
    font-size: 9px;
   
}
div img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin: 20px;
    padding: 20px;
}
h3 {
    color: #772432;
    text-align: center;
    font-size: 14px;
    font-weight: bolder;
    padding: 20px;
}
.image2 {
    background-image: url("https://img.freepik.com/free-vector/white-abstract-background_23-2148810353.jpg?size=626&ext=jpg&ga=GA1.2.1893219413.1659078877");
    width: 100%;
    height: 715px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
	}
.button2 {
    background-color: white;
    border: none;
    text-align: center;
    color: #004165;
    font-weight: bolder;
    padding: 9px 20px;
    display: block;
    text-decoration: none;
    margin: auto;
    width: 300px;
}
.row p1 {
    color: white;
    font-size: 15px;
}

  i.fa {
    font-size: 60px;
    color: black;
    background: white;
    padding: 20px;
    border-radius: 50%;
    text-align: center;
    display: block;
    width: 128px;
    margin: auto;
}


.para2 p {
    color: white;
    text-align: center;
    font-size: 13px;
    padding: 20px;
    margin: 20px;
}

.heading h1 {
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
    margin: 0px;
 
}
.image1 {
    background-image: url("https://img.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg?size=626&ext=jpg&ga=GA1.2.1893219413.1659078877");
    width: 100%;
    height: 850px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}
.button {
    background-color: #006094;
    border: none;
    color: white;
    padding: 9px 6px;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    width: 114px;
    margin-left: 14px;
}
.button1 {
    background-color: #004165;
    border: none;
    color: white;
    padding: 9px 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    width: 135px;
}
.para1 p {
    font-style: italic;
    font-size: 8px ! important;
    padding: 12px;
    margin-bottom: -49px;
}
.para1 p span {
    margin-left: 15px;
    font-size: 8px;
}
h2 {
    font-size: 21px;
    font-weight: bolder;
    padding: 20px;
    color: white;
}
.para p {
    color: white;
    margin-top: -20px;
    padding-left: 36px;
}

.image {
    background-image: url("https://img.freepik.com/free-photo/colorful-abstract-nebula-space-background_53876-111356.jpg?size=626&ext=jpg&ga=GA1.2.1893219413.1659078877");
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: 100%;
	}
a.navbar-brand {
    color: #004165;
    font-size: 25px;
    font-weight: bolder;
}
a.navbar-brand span {
    color: #772432;
    font-size: 13px;
    
    margin: 20px;
    padding: 20px;
}
ul.navbar-nav.me-auto.mb-2.mb-lg-0 {
    color: aliceblue;
    font-size: 18px;
    font-weight: bold;
    margin: 20px;
    padding: 15px;
    column-gap: 3px;
	}
button.btn.btn-outline-success {
    border-radius: 0;
    background-color: #772432;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    border: none;
    height: 40px;
    width: 179px;
}
ul.navbar-nav.me-auto.mb-2.mb-lg-0 li a {
    color: #004165;
}

.flax {
    width: 33%;
    margin: auto;
}
.flaxx {
    padding-left: 20px;
}
@media only screen and (max-width:480px){
button.navbar-toggler {
    text-align: end;
    border: none;

}
a.navbar-brand {
    color: #004165;
    font-size: 20px;
    font-weight: bolder;
}
a.navbar-brand span {
    color: #772432;
    font-size: 10px;
    margin: 20px;
    padding: 20px;
}
.image7 p3 {
    display: block;
    text-align: center;
}
.image7 h4 {
    text-align: center;
}
input.button3 {
    margin-left: 55px;
}
.image {
    background-size: 100% 100%;
    padding: 35px 0;
	height:auto;
}
.head h4 {
    color: #772432;
    font-size: 9px;
    text-align: center;
}
.flexn img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    position: relative;
    top: 57px;
    border: 5px solid white;
    margin: 0;
    padding: 0;
    margin-left: 27px;
}
.col-md-6.headc {
    color: #772432;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    padding-left: 0px;
    margin-top: 0px;
}
.image1 {
    height: auto;
    padding: 50px 0;
}
.image2 {
    height: auto;
    padding: 35px 0; 
}
.flax {
    width: 100%;
    margin: auto;
}
.col-md-6.flexm {
    padding-left: 0px;
}
.col-md-6.headb {
    text-align: center;
    
}
.flexx img {
  
    width: 250px;
    height: 250px;
}
.headd {
    margin-top: -153px;
    font-size: 11px;
    color: white;
    font-weight: bolder;
}
input.button7 {
    background-color: #006094;
    color: white;
    font-weight: bolder;
    border: none;
    font-size: 6px;
    width: 73%;
    margin: 7px;
    padding: 8px;
    text-align: center;
	}
input.button8 {
    margin-bottom: 20px;
}
.part80 {
    width: 100%;
}
button, input, optgroup, select, textarea {
    margin-left: 10px;
}
label {
    margin-left: 12px;
}
.image9{
background-size:100% 100%;
height:auto;
}
input.button10 {
    margin-bottom: 10px;
    margin-left: 25px;
    width: 82%;
}
.col-md-6.headv {
    margin-top: 40px;
    font-size: 15px;
    padding: 2px;
}
.col-md-6.headm {
    margin-top: 40px;
    font-size: 15px;
    padding: 2px;
}
input.button8 {
    width: 70%;
    margin-left: 30px;
}
input.button4{
    width: 90%;
}
input.button2 {
    width: 70%;
}
}
@media only screen and (min-width:481px) and (max-width:768px){
input.button10{
margin-left:195px;
}
.flex img {
    border-radius: 0%;
    width: 100%;
    height: 371px;
    margin: auto;
    padding: 0px;
}
input.button7 {
    background-color: #006094;
    color: white;
    font-weight: bolder;
    border: none;
    font-size: 14px;
    width: 66%;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-family: arial;
}
.flex img {
    border-radius: 0%;
    width: 100%;
    height: 716px;
    margin: auto;
    padding: 0px;
}
input.button4 {
    color: #006094;
    font-weight: bold;
    text-align: center;
    margin: 3px;
    padding: 3px;
    background-color: #A9B2B1;
    border: none;
    font-size: 20px;
    width: 76%;
}
.image1 {
    background-image: url("https://img.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg?size=626&ext=jpg&ga=GA1.2.1893219413.1659078877");
    width: 100%;
    height: 1060px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.heading h1 {
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
    margin: 0px;
    padding: 20px;
}
.flexm img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin: -35px;
    padding: 0px;
    border: 5px solid white;
    position: relative;
}
}
@media only screen and (min-width:769px) and (max-width:1024px){
input.button10 {
    background-color: #006094;
    border: none;
    text-align: center;
    color: white;
    padding: 10px 23px;
    display: block;
    font-size: 20px;
    font-weight: bold;
    width: 336px;
    margin-left: 300px;
}
.flexm img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin: -30px;
    padding: 0px;
    border: 5px solid white;
    position: relative;
    margin-left: 53px;
}
}
@media only screen and (min-width:1025px) and (max-width:1440px){
.flexm img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin: -30px;
    padding: 0px;
    border: 5px solid white;
    position: relative;
    margin-left: 287px;
}
}
.navbar-toggler:focus {
    box-shadow: none !important;
}
button.navbar-toggler {
    border: none !important;
    width: auto !important;
}
